<div class="mainHeader">
  <a>
    <!-- <img class="manImg" src="tripAdvisorLogo.png"/> -->
    <img class="placeholder1" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </a>
  <a class="aHeader">Hotels</a>
  <a class="aHeader">Vacation Rentals</a>
  <a class="aHeader">Flights</a>
  <a class="aHeader">Restaurants</a>
  <a class="aHeader">Things to do</a>
  <a class="aHeader">...</a>
  <a class="aHeader">blank_area</a>
  <a class="aHeader">bag_logo</a>
  <a class="aHeader">comment_logo</a>
  <a class="aHeader">profile_logo</a>
  <a class="aHeader">|</a>
  <a class="aHeader">search_logo</a>
</div>
<div class="search">
  <a>search</a>
</div>



<!-- <img class="manImg" src="./assets/mainViewBudapest.jpg"/> -->
