.manImg {
  width: 200px;
}

.placeholder1 {
  height: 50px;
  width: 200px;
  background-color: yellow;
  position: relative;
}

.aHeader{
  display: inline-block;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  background: #ADD8E6;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 30px;
  /* margin: 2px; */
}

.aHeaderDot{
  display: inline-block;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  background: #ADD8E6;
  padding-right: 5px;
  padding-left: 150px;
  padding-top: 30px;
}

.aImage {
  width: 200px;
  display: inline-block;
  height:20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* display: inline; */
  background: #ADD8E6;
  padding: 10px;
  padding-top: 20px;
  background: url("assets/tripAdvisorLogo.png") center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

.search{
   background: url("assets/mainViewBudapest.jpg") center;
   background-color: lightblue;
   height: 400px;
}

.searchText {
  position:absolute;
  font-weight: bold;
  font-size: 32px;
  top:30%;
  color: white;
  left:30%;
  background-color: #2F4F4F;
  border-radius: 10px;
  padding: 5px;
}

.searchBar{
  position:absolute;
  width:80%;
  height:10%;
  background:white;
  left:10%;
  top:40%;
  border-radius: 20px;
}

#dollar{
  background: url("assets/DollarIcon.svg") center;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}

#bed{
  background: url("assets/iconBed.svg") center;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}

#heart{
  background: url("assets/heartIcon.png") center;
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 10px;
}

#box{
  position: relative;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid #00a680;
  margin-left: 100px;
  border-radius: 3px;
  background: url("assets/brandingLittleWiser.png") left;
  background-repeat: no-repeat;
  background-size: 80%;
  color: #00a680;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  vertical-align: bottom;
  background-position: 50% 100% ;
/* line-height: 28px; */
  /* border-color: black;
  border-style: 2px solid */
}

#displayAd {
  color: black;
}

.info {
  width: 100vw;
}

.info .money{
  color: #00a680;
  font-size: 28px;
  font-family: Arial;
}

a:hover {
  color: #00a680;
}

.inline{
  display: inline-block;
}

.compares{
  font-size: 20px;
}

.sightsIntro{
  font-size: 30px;
}
