<div class="mainHeader">
  <span style="display:inline; width:20%;">
    <img class="manImg" src="./assets/tripAdvisorLogo.png"/>
  </span>
  <span>Hotels</span>
  <span>Vacation Rentals</span>
  <span>Flights</span>
  <span>Restaurants</span>
  <span>Things to do</span>
  <span>...</span>
  <span>blank_area</span>
  <span>bag_logo</span>
  <span>comment_logo</span>
  <span>profile_logo</span>
  <span>|</span>
  <span>search_logo</span>
</div>



<!-- <img class="manImg" src="./assets/mainViewBudapest.jpg"/> -->
