.manImg {
  width: 200px;
  /* height: 500px; */
}

.placeholder1 {
  height: 50px;
  width: 200px;
  background-color: yellow;
  position: relative;
}

.aHeader{
  display: inline-block;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Arial;
  /* display: inline; */
  background: red;
  padding: 10px;
  margin: 2px;
}

.aImage {
  width: 200px;
  display: inline-block;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  /* display: inline; */
  background: red;
  padding: 10px;
  margin: 2px;
  background: url("assets/tripAdvisorLogo.png") center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  /* background-size: 100px auto;
    display: inline-block;
    width:20px;
    height: 20px; */
}

.search{
   /* background-image: url("https://commons.wikimedia.org/wiki/File:Sz%C3%A9chenyi_Chain_Bridge_in_Budapest_at_night.jpg"); */
   background-color: lightblue;
   height: 400px;
}

.searchBar{
  position:absolute;
    width:80%;
    height:10%;
    background:gray;
    left:10%;
    top:40%;
    border-radius: 20px;
}
