<div class="mainHeader">
  <a class="aImage">_</a>
  <a class="aHeader">Hotels</a>
  <a class="aHeader">Vacation Rentals</a>
  <a class="aHeader">Flights</a>
  <a class="aHeader">Restaurants</a>
  <a class="aHeader">Things to do</a>
  <a class="aHeaderDot">...</a>
  <a class="aHeader bag_logo">U</a>
  <a class="aHeader">[]</a>
  <a class="aHeader">0<</a>
  <a class="aHeader">|</a>
  <a class="aHeader">Q</a>
</div>
<div class="search">
  <input class="searchBar" type="text" name="name">
</div>



<!-- <img class="manImg" src="./assets/mainViewBudapest.jpg"/> -->
