<h1>About Us</h1>
<p>Trip Advisor's mission is to help people get the most out of the travel they make for business or pleasure.

Beyond the particular skills needed to travel, we also aim to help our travelers become confident self-teachers who can adapt to changing tourist and business markets and great communicators that will work well across cultures. We focus on serving people that, by birth or circumstance, don't have easy access to information related to travel but who still need to go.</p>
