<hr>
<p class="sightsIntro">Look at the Sights and landmarks in Budapest</p>
<div class="row">
  <div class="col-md-3">
    <h4>NAME</h4>
  </div>
  <div class="col-md-1">
    <h4>RATING</h4>
  </div>
  <div class="col-md-1">
    <h4>LIKES</h4>
  </div>
</div>
<div *ngFor="let singlePlace of places | async">
  <div class="row">
    <div class="col-md-3">
      <h4>{{singlePlace.name}}</h4>
    </div>
    <div class="col-md-1">
      <h4>{{singlePlace.rating}}</h4>
    </div>
    <div class="col-md-1">
      <h4>{{singlePlace.likes}}</h4>
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary btn-sm" type="button" (click)="editButtonClicked(singlePlace)" name="button">Like</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-info btn-sm" type="button" (click)="goToDetailPage(singlePlace)" name="button">See info</button>
    </div>
    <br>
  </div>
  <div *ngIf="currentRoute==='/admin' ">
    <app-edit [selectedPlace]="singlePlace"></app-edit>
  </div>
</div>
