body {
  /* height: 100%; */
  margin-bottom: 400px;
  clear: both;
}

.footer{
  position: fixed;
  right: 0%;
  bottom: 0px;
  width: 20%;
  height: 40px;
  padding: 10px;
  background-color: #F5F5F5;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
